body{
	background-color: #343434;
	background: url("../images/bg2.jpg");
}

h1.name{
	margin-top: 0;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 0;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #58c9f9;
}

ul.menu_bar{
	margin-top: 0;
	width: 400pt;
	margin:0 auto;
	margin-bottom: 0;
	height: 45px;
	line-height: 45px;
	color:#f5f5f5;
	display: flex;
	justify-content: center;
	background: #ec4840;

}
ul.menu_bar li{
	display: inline;
	font-family: Verdana;
	margin-left: 10pt;
	margin-right: 10pt;

}
.content{
	margin-bottom: 0;
	margin-top: 0;
	margin:0 auto;
	width: 500pt;
	height: 500pt;
}

.row1{
	text-align: center;
	color:#dc99d5;
}
.row2{
	text-align: center;
	color:#862b2c;
}
.row3{
	text-align: center;
	color:#ece751;
}
.avatar {
  vertical-align: middle;
  margin-top: 20pt;
  width: 100pt;
  height: 100pt;
  border-radius: 50%;
  box-shadow: 0px 2px 3px 0px;
}
a:link {color:blue; text-decoration:none}
a:visited {color:blue; text-decoration:none}
a:hover {color:red}
